.tokens-grid {
  width: 100%;
  color: #fff;
  font-family: sans-serif;
  border-collapse: collapse;

  border: 1px solid #444;
}

.tokens-grid thead {
  background-color: #222;
  border-bottom: 1px solid #444;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem;
  text-align: left;
}

.tokens-grid tbody td {
  padding: 0.75rem 1rem;
  color: #ccc;
}

.tokens-grid tbody tr:nth-child(even) td {
  background-color: #444;
}
